<%- include("../default/header")%>

<table border="1">
    <thead>
        <tr>
            <th>아이디</th><th>비밀번호</th><th>이름</th><th>주소</th>
        </tr>
    </thead>
    <tbody>
        <% member.forEach((data) => {%>
            <tr>
                <td>
                    <%= data.ID %>
                </td>
                <td>
                    <%= data.PWD %>
                </td>
                <td>
                    <a href="/member/info/<%= data.ID%>">
                        <%= data.NAME %>
                    </a>
                </td>
                <td>
                    <%= data.ADDR %>
                </td>
            </tr>
        <%})%>
    </tbody>
</table>