<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>logout 페이지 입니다</h1>
    <a href="/">index</a>
    <a href="/login">login</a>
    <hr>
    <%= c.key1%><br>
    <%= c.key2%><br>
    <%= c.key3%><br>
    <%= c.key4%><br>
    <%= c.key4.k1 %><br>
</body>
</html>