<%- include("../default/header", {isLogin})%>

<h3> - 개 인 정 보 -</h3>
id : <%= member[0].ID %><br>
pwd : <%= member[0].PWD %><br>
name : <%= member[0].NAME %><br>
address : <%= member[0].ADDR %><br>

<a href="/member/modify_form/<%= member[0].ID %>">수정</a>
<a href="/member/delete/<%= member[0].ID %>">삭제</a>
<a href="/member/list">목록으로 이동</a>