<%- include ("../default/header") %>
<%- include ("./reply_form") %>
<script src="/static/js/reply_view.js"></script>
<!-- <script>
    window.onload= () => {
        alert("111111111")
        init('<%=data.WRITE_NO%>')
    }
</script> -->
<div class="content wrap">
    <div style="width:600px; margin: 0 auto;">
    <h3 style="text-align: center; margin-bottom: 10px;"> - 개 인 정 보 - </h3>
    <table border="1" align="center">
        <tr>
            <th width="100">글 번호</th> <td width="200" id="number"><%= data.WRITE_NO %></td> 
            <th width="100">작성자</th>  <td width="200"><%= data.ID %></td>
        </tr>
        <tr>
            <th>제목</th> <td><%= data.TITLE %></td> 
            <th>등록일자</th> <td><%= data.SAVE_DATE %></td>
        </tr>
        <tr>
            <th>내용</th><td><%= data.CONTENT %></td> 
            <td colspan="2">
                <% if( data.ORIGIN_FILE_NAME === "nan"){%>
                    <b>이미지가 없습니다
                <%}else{%>
                    <b>이미지 : <%=data.ORIGIN_FILE_NAME%> </b>
                    <br>
                    <img src="/board/download/<%=data.CHANGE_FILE_NAME%>"
                                width="100px" height="100px">
                <%}%>
            </td>
        </tr>
        <tr>
            <td colspan="4" align="center">
                <%if(username === data.ID){%>
                    <input type="button" 
                    onclick="location.href='/board/modify_form/<%= data.WRITE_NO %>'" 
                    value="수정하기"> 
                    <input type="button" 
                    onclick="location.href='/board/delete/<%= data.WRITE_NO %>/<%= data.CHANGE_FILE_NAME %>'" 
                    value="삭제하기">
                    <!--작성자 세션인 경우 나타나는 화면-->
                <%}%>
                <input type="button" onclick="reply_form()" value="답글달기"> 
                <input type="button" onclick="location.href='/board/list'" value="리스트로 돌아가기">
            </td>
        </tr>
        <tr>
            <td colspan="4" id="content">

            </td>
        </tr>
        </table>
    </div>
    <script>
        let cnt = 0;
        const btn = () => {
            const b = document.getElementById("rep_test")
            const u = document.getElementById("u")
            if(cnt === 0) {
                b.style.display = "block"
                u.innerHTML = "취소"
            } else {
                b.style.display = "none"
                u.inner = "답글달기"
                cnt = 0
            }

        }
    </script>
    <button type="button" id="u" onclick="btn()"> 답글 연습</button>
    <div id="rep_test" style="display: none;">
        <form>
            <input type="text" name="title" placeholder="제목">
            <hr>
            <input type ="submit" value="답변">
        </form>
    </div>
</div>
