<table border="1">
    <tr>
        <th>번호</th> <th>제목</th> <th>등록날짜</th> <th>조회수</th>
    </tr>
<% list.forEach( data => { %>
    <tr>
        <td><%= data.NUM %></td>   
        <td>
            <a href="/page/content/<%= data.NUM %>">
                <%= data.TITLE %>
            </a>
        </td>
        <td><%= data.PDATE %></td> <td><%= data.COUNT %></td>
    </tr>
<% });
if( list.length == 0 ){%>
    <tr><td colspan="4"><b>등록된 정보가 없습니다</b></td></tr>
<%} %>
    <tr><td colspan="4">
        <% if( start <= 1){ %>
            <button disabled>이전</button>
        <%}else{%>
            <button type="button" onclick="
                location.href='/page/list?start=<%=start - 1%>'">이전</button>
        <% }for(let i=1 ; i <= page.totPage ; i++ ){ %>
            <a href="/page/list?start=<%= i %>"><%= i %></a>
        <% }if( start < page.totPage ){%>
            <button type="button" onclick="
                location.href='/page/list?start=<%=start + 1%>'">다음</button>
        <% }else{ %>
            <button disabled>다음</button>
        <% } %>
        <!-- start 1보다 작으면 이전 disable, 마지막 페이지 수 보다 크면 disable-->

       start : <%= start%> /  <%=page.totPage %> / <a href="/page/write_form">글 등록</a>
    </td></tr>
</table>